<html>
<head>
<title>caste app</title>
<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>
<style type="text/css">
html, body{
    margin:0px;
    padding:0px;
    height: 100%;
}

html{
    font-family: 'Gudea', sans-serif;
}
body{
    background-image:url('http://passets-cdn.pinterest.com/images/paper.jpg');
}
#wrap{
    padding:15px;
    border:1px solid #aaa;
    color:#333;
    margin-top:10px;
    width:800px;
    margin:15px auto 0px auto;
    background-color:white;
}

#content{
    height: 400px;
}
label{
    float:left; 
    width:130px;
}
</style>
</head>

<body>
<div id="wrap">
<div id="header" style="text-align:left;">
    <!--<a href="/"><img id='logo'  src="http://www.menneske.org/projects/castle-icon.png" style="float:left; height:70px;"></a>-->
    <div id='title' style="float:left; line-height:80px; font-size:40px; text-align:center;"><a id="home_link" href="/">Castle App</a></div>
</div>
<div id="content" style="clear:both;">
{% block content %}
{% endblock %}
</div>
<div id="footer">
<div id="subtitle" style="font-size:16px; color:#222; clear:both;">
    This is an app to demonstrate user management and authentication methods, using a python backend. 
    It was implemented with python/django, uwsgi, apache, sqlite, and an smtp mail server on webfaction's shared hosting.
    <br>The source code is available at <a href="http://github.com/castle" >github</a>.
    </div>
</div>
</div>
</body>
</html>